{{ define "main" }}
<div id='starfield'>
  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>
</div>

<main aria-role="main">
    <header class="homepage-header">
        <pre class="ascii-title">          
██████╗  ██████╗  ██████╗██╗  ██╗███████╗████████╗    ██████╗ ██████╗  ██████╗ ████████╗ ██████╗  ██████╗ ██████╗ ██╗     
██╔══██╗██╔═══██╗██╔════╝██║ ██╔╝██╔════╝╚══██╔══╝    ██╔══██╗██╔══██╗██╔═══██╗╚══██╔══╝██╔═══██╗██╔════╝██╔═══██╗██║     
██████╔╝██║   ██║██║     █████╔╝ █████╗     ██║       ██████╔╝██████╔╝██║   ██║   ██║   ██║   ██║██║     ██║   ██║██║     
██╔══██╗██║   ██║██║     ██╔═██╗ ██╔══╝     ██║       ██╔═══╝ ██╔══██╗██║   ██║   ██║   ██║   ██║██║     ██║   ██║██║     
██║  ██║╚██████╔╝╚██████╗██║  ██╗███████╗   ██║       ██║     ██║  ██║╚██████╔╝   ██║   ╚██████╔╝╚██████╗╚██████╔╝███████╗
╚═╝  ╚═╝ ╚═════╝  ╚═════╝╚═╝  ╚═╝╚══════╝   ╚═╝       ╚═╝     ╚═╝  ╚═╝ ╚═════╝    ╚═╝    ╚═════╝  ╚═════╝ ╚═════╝ ╚══════╝
                                                                                                                        
        </pre>
        <pre class="mobile-ascii-title">
██████╗  ██████╗  ██████╗██╗  ██╗███████╗████████╗ 
██╔══██╗██╔═══██╗██╔════╝██║ ██╔╝██╔════╝╚══██╔══╝ 
██████╔╝██║   ██║██║     █████╔╝ █████╗     ██║    
██╔══██╗██║   ██║██║     ██╔═██╗ ██╔══╝     ██║    
██║  ██║╚██████╔╝╚██████╗██║  ██╗███████╗   ██║    
╚═╝  ╚═╝ ╚═════╝  ╚═════╝╚═╝  ╚═╝╚══════╝   ╚═╝    


██████╗ ██████╗  ██████╗ ████████╗ ██████╗  ██████╗ ██████╗ ██╗     
██╔══██╗██╔══██╗██╔═══██╗╚══██╔══╝██╔═══██╗██╔════╝██╔═══██╗██║     
██████╔╝██████╔╝██║   ██║   ██║   ██║   ██║██║     ██║   ██║██║     
██╔═══╝ ██╔══██╗██║   ██║   ██║   ██║   ██║██║     ██║   ██║██║     
██║     ██║  ██║╚██████╔╝   ██║   ╚██████╔╝╚██████╗╚██████╔╝███████╗
╚═╝     ╚═╝  ╚═╝ ╚═════╝    ╚═╝    ╚═════╝  ╚═════╝ ╚═════╝ ╚══════╝ 
        </pre>
        <h1>{{.Title}}</h1>
        {{ with .Params.subtitle }}
        <span class="subtitle">{{.}}</span>
        {{ end }}

    </header>
    <div class="homepage-content">
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        {{.Content}}

        <div class="alert alert-info">
          <p>Subscribe for updates</p>
          <br />
          <form class="form" id="subscription" name="subscription" method="POST" data-netlify="true">
            <fieldset class="form-group">
              <label for="email">Email:</label>
              <input id="email" type="email" name="email" placeholder="" class="form-control">
            </fieldset>
          </form>
          <button type="submit" form="subscription" class="btn btn-info btn-ghost">Submit</button>
        </div>
    </div>
    <div>
    <!-- Note that .Pages is the same as .Site.RegularPages on the homepage template. -->
    {{ range first 10 .Pages }}
        {{ .Render "summary"}}
    {{ end }}
  </div>
</main>
{{ end }}
